.cohort-list{
    display: grid;
    
}

.cohort-list__item{
    border-bottom: 2px solid green;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;

    

}
.cohort-list__item:hover{
    color: aliceblue;
    background-color: green;
}
